/* לטאבלט */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}
nav {
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
}
#aviLogo {
  width: 11%;
}
ul {
  width: 60vw;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

li {
  font-size: 28px;
  color: white;
  list-style: none;
}

a {
  color: white;
  background-color: black;
  text-decoration: none;
}
.sectionForPhoto {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.photoWadding {
  width: 37%;
  height: auto;
}
.theCouple h2,
p {
  color: white;
}

.sectionForPhoto .theCouple h2 {
  font-size: 45px;
  text-align: center;
}

.sectionForPhoto .theCouple .photoWadding {
  width: 381px;
  height: auto;
}
.photoWadding:hover {
  width: 10%;
  height: auto;
}

.theCouple h2,
p {
  text-align: center;
  color: white;
}
.hr {
  border-color: rgba(61, 60, 60, 0.705);
  color: rgba(61, 60, 60, 0.705);
  background-color: rgba(61, 60, 60, 0.705);
}
.titelForm h3 {
  font-size: 194%;
  color: white;
  text-align: center;
}
form {
  font-size: 151%;
  text-align: center;
  color: white;
}
form input {
  border: none;
  background-color: white;
  border-radius: 40px;
  height: 40px;
  width: 41%;
  text-align: center;
}

.btnClick {
  border: none;
  border-radius: 40px;
  background-color: white;
  width: 20%;
  height: 51px;
  font-size: 20px;
  color: black;
}
.btnClick {
  border: none;
  border-radius: 40px;
  background-color: white;
  width: 20%;
  height: 51px;
  font-size: 20px;
  color: var(--black);
}
.logosImg {
  display: flex;
  justify-content: center;
}
.logosImg .logoFooter {
  width: 40%;
  height: auto;
}

/* למכשירים ניידים */
@media only screen and (min-device-width: 10px) and (max-device-width: 864px) {
  * {
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
    word-break: keep-all;
  }
  #aviLogo {
    width: 11%;
  }
  ul {
    width: 60vw;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  li {
    background-color: black;
    font-size: 86%;
    color: white;
    list-style: none;
  }
  a {
    background-color: black;
    text-decoration: none;
  }
  .photoWadding {
    width: 100%;
    height: auto;
  }
  .theCouple h2,
  p {
    text-align: center;

    color: white;
  }
  form {
    font-size: 151%;
    text-align: center;
    color: white;
  }
  .hr {
    border-color: rgba(61, 60, 60, 0.705);
    color: rgba(61, 60, 60, 0.705);
    background-color: rgba(61, 60, 60, 0.705);
  }
  form input {
    border: none;
    background-color: white;
    border-radius: 40px;
    height: 40px;
    width: 63%;
    text-align: center;
  }

  .btnClick {
    border: none;
    border-radius: 40px;
    background-color: white;
    width: 20%;
    height: 51px;
    font-size: 20px;
    color: black;
  }
}

/* למחשבי נייח */
@media only screen and (min-width: 1110px) {
  * {
    background-color: rgba(0, 0, 0, 0.945);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
  }
  #aviLogo {
    width: 11%;
  }
  ul {
    width: 60vw;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
  }

  li {
    background-color: black;
    font-size: 39px;
    color: white;
    list-style: none;
  }
  a {
    color: white;
    background-color: black;
    text-decoration: none;
  }
  .sectionForPhoto {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .sectionForPhoto .theCouple h2 {
    font-size: 45px;
    text-align: center;
  }

  .sectionForPhoto .theCouple .photoWadding {
    width: 381px;
    height: auto;
  }
  .photoWadding:hover {
    width: 10%;
    height: auto;
  }

  .theCouple h2,
  p {
    color: white;
  }
  .hr {
    border-color: rgba(61, 60, 60, 0.705);
    color: rgba(61, 60, 60, 0.705);
    background-color: rgba(61, 60, 60, 0.705);
  }
  form {
    font-size: 151%;
    text-align: center;
    color: white;
  }
  form input {
    border: none;
    background-color: white;
    border-radius: 40px;
    height: 40px;
    width: 20%;
    text-align: center;
  }

  .btnClick {
    border: none;
    border-radius: 40px;
    background-color: white;
    width: 20%;
    height: 51px;
    font-size: 20px;
    color: black;
  }
  .logosImg {
    display: flex;
    justify-content: center;
  }
 .logosImg .logoFooter {
   width: 40%;
   height: auto;
 }
}
